.shopping-lists-container {
    /*max-width: 60rem;*/
    /*max-height: 70vh;*/
    /*width: 50%;*/
    /*margin: 2rem auto;*/
    /*animation: items-appear 1s ease-out forwards;*/
    /*overflow: auto;*/
    width: 50%;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
}

.shopping-lists-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shopping-list-form-container {
    width: 50%;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    /*width: 50%;*/
    /*margin: 2rem auto;*/
    /*animation: items-appear 1s ease-out forwards;*/
}

.container {
    width: 45%;
    height: 80%;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    overflow: auto;
    animation: items-appear 1s ease-out forwards;
}

.shopping-lists-main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes items-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}